/* *,html {
    box-sizing: border-box;
} */

body {
    margin: 0;
    padding: 0;

    padding-bottom: 100px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}
.ibg{

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    }
    
    .ibg .ibg__inner{
    
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    }

section {
    margin-top: 100px;
}

.card__img {
    width: 100%;
    height: auto;
}

.card__name {
    font-size: 18px;
}

.cart-btn {
    padding: 8px 14px;
}

.context-btn {
    border: none;
    background: transparent;
    font-size: 30px;
}
.context-btn:focus {
    outline: none;
}